@{
    Layout = "~/Views/Shared/_JitterLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="jot">
            This is awesome content!
        </div>
    </div>
</div>

